<div id="container">
    App Template, Yo
    <div id="menu">
        <a href="#" id="homeBtn">Home</a> |
        <a href="#" id="newDudeBtn">New Dude</a> |
        <a href="#" id="allDudesBtn">All Dudes</a> |
    <div id="main">

    </div>
</div>
<div id="dialogError" title="Error, Yo" style="display: none">
    <p id="dialogErrorContent">
    </p>
</div>
</div>