<form id="dudeForm">
    Dude: <input type="text" name="dude" id="dudeInput"/>
    <br>
    Greeting: <input type="text" name="greeting" id="greetingInput" />
    <br>
    <div id="inlineDatePicker"></div>
    <input type="hidden" name="date" id="dateInput" />
    <input type="submit" value="submit">
</form>